<html>
    <body bgcolor=#d4a3ae>

        

        <h1> Predict Car Price </h1><br>
        <form method="POST", action="/predict">
            <b>car_ID : <input type="text", name='car_ID', placeholder="enter car_ID "> <br><br>       
            symboling :  <input type="text", name='symboling', placeholder="enter symboling"> <br><br>
            CarName :  <input type="text", name='CarName', placeholder="enter CarName"> <br><br>
            fueltype :  <input type="text", name='fueltype', placeholder="enter fueltype"> <br><br>
            aspiration :  <input type="text", name='aspiration', placeholder="enter aspiration"> <br><br>
            doornumber :  <input type="text", name='doornumber', placeholder="enter doornumber"> <br><br>
            carbody :  <input type="text", name='carbody', placeholder="enter carbody"> <br><br>
            drivewheel :  <input type="text", name='drivewheel', placeholder="enter drivewheel"> <br><br>
            enginelocation :  <input type="text", name='enginelocation', placeholder="enter enginelocation"> <br><br>
            wheelbase :  <input type="text", name='wheelbase', placeholder="enter wheelbase"> <br><br>
            carlength :  <input type="text", name='carlength', placeholder="enter carlength"> <br><br>
            carwidth :  <input type="text", name='carwidth', placeholder="enter carwidth"> <br><br>
            carheight :  <input type="text", name='carheight', placeholder="enter carheight"> <br><br>
            curbweight :  <input type="text", name='curbweight', placeholder="enter curbweight"> <br><br>
            enginetype :  <input type="text", name='enginetype', placeholder="enter enginetype"> <br><br>
            cylindernumber :  <input type="text", name='cylindernumber', placeholder="enter cylindernumber"> <br><br>
            enginesize :  <input type="text", name='enginesize', placeholder="enter enginesize"> <br><br>
            fuelsystem :  <input type="text", name='fuelsystem', placeholder="enter fuelsystem"> <br><br>
            boreratio :  <input type="text", name='boreratio', placeholder="enter boreratio"> <br><br>
            stroke :  <input type="text", name='stroke', placeholder="enter stroke"> <br><br>
            compressionratio :  <input type="text", name='compressionratio', placeholder="enter compressionratio"> <br><br>
            horsepower :  <input type="text", name='horsepower', placeholder="enter horsepower"> <br><br>
            peakrpm :  <input type="text", name='peakrpm', placeholder="enter peakrpm"> <br><br>
            citympg :  <input type="text", name='citympg', placeholder="enter citympg"> <br><br>
            highwaympg :  <input type="text", name='highwaympg', placeholder="enter highwaympg"> <br><br></b>

			            <input type="submit" , value='predict' >
        </form>


        
    </body>
</html>